@font-face {
  font-family: 'GFS Didot';
  src: url('GFSDidot-Regular.woff2') format('woff2'), url('GFSDidot-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinos';
  src: url('Tinos-Regular.woff2') format('woff2'), url('Tinos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TinosBold';
  src: url('Tinos-Bold.woff2') format('woff2'), url('Tinos-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
